APP_NAME=PropertyManager
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8080

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=property_manager
DB_USERNAME=pm_user
DB_PASSWORD=pmpassword

SANCTUM_STATEFUL_DOMAINS=localhost:3000,localhost:8080
SESSION_DOMAIN=localhost

STRIPE_KEY=pk_test_xxx
STRIPE_SECRET=sk_test_xxx
